[data-theme="light"] {
  --color-primary: rgb(0, 0, 0); /* Black */
  --color-secondary: rgb(231, 182, 141); /* Soft pink-brown */
  --color-text-light: rgb(0, 0, 0);
  --color-text-dark: rgba(255, 255, 255, 0.87);
  --color-background: rgb(245, 245, 245); /* Light gray */
  --color-background-offset: rgb(230, 230, 230);
  --color-border: rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  --color-primary: rgb(0, 0, 0); /* Black */
  --color-secondary: rgb(231, 182, 141); /* Soft pink-brown */
  --color-text-light: rgb(255, 255, 255); /* White */
  --color-text-dark: rgba(255, 255, 255, 0.6);
  --color-background: rgb(0, 0, 0); /* Black */
  --color-background-offset: rgb(20, 20, 20);
  --color-border: rgba(255, 255, 255, 0.1);
}
